/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #e6373a;
$clr-primary-a10: #ed554d;
$clr-primary-a20: #f36d62;
$clr-primary-a30: #f88477;
$clr-primary-a40: #fc998c;
$clr-primary-a50: #ffaea2;

/** Theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #261816;
$clr-surface-tonal-a10: #3b2d2b;
$clr-surface-tonal-a20: #514442;
$clr-surface-tonal-a30: #675c5a;
$clr-surface-tonal-a40: #7f7573;
$clr-surface-tonal-a50: #978f8d;
